/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;

}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Josefin Sans', sans-serif;

    /*'Montserrat', sans-serif;*/
    font-weight: 600;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

h1{
  font-family:  'Josefin Slab', serif;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	/*color: #1abc9c;*/
  color: #ffffff;
}

.navbar-default {
	background-color: rgba(0,0,0,0.7);
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	/*color: #1abc9c;*/
  color: #ffffff;
	background-color: transparent;
	border-bottom: 2px solid #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  position: relative;
	background: url(../img/back1.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
  z-index: -1;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 50px;
	font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

#headerwrap h4 {
	font-weight: 700;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	/*color: #1abc9c*/
  color: #ffffff;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

.col-lg-4 a{
  color:#ffffff;
}

.col-lg-4 a:hover{
  text-decoration: none;
}

#workwrap {
  position: relative;
	background-image: url(../img/work.jpg);
  background-repeat: no-repeat;
  background-position: center top;
	margin-top: 0;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  z-index: -1;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 50px;
	font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

p{
  font-weight: 400;

}

#aboutwrap {
  position: relative;;
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: 0;
	padding-top: 200px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 632px;
	width: 100%;
  z-index: -1;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#content{
  background: #fff;
  z-index: 2;
  min-height: 550px;
  -webkit-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.45);
}

#content p{
  text-align: left;
}

#content iframe{
  width:100%;
  height;auto;
}


/* Gallery */
.gallery {
	margin-top: 5px;
}

.gallery{
  position: relative;
}

.gallery a:hover img{
	opacity: 0.4;
}

.gallery h2{
  font-family: 'Josefin Slab', serif;
  color:#000;
  font-size: 18pt;
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

.gallery a:hover h2{
  visibility:visible;
  opacity: 1;
}
